@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

body {
    min-height: 100vh;
    background-color: black;
}
.labelname{
    color: #00ced1;
}

::placeholder {
    color: #b3b3b3;
}

.result-btn {
    position: absolute;
    transform: translateX(-50%);
    background-color: #0f9ea5;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    font-size: 15px;
    width: 200px;
}
.back-btn {
    position: absolute;
    transform: translateX(-50%);
    background-color: #0f9ea5;
    font-size: 1.3rem;
    font-weight: 500;
    align-items: center;
    font-size: 15px;
    width: 10%;
}
@media screen and (min-width:768px) {

    .leftside,
    .rightside {
        height: 100vh;
    }
}