@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

body {
    min-height: 100vh;
    background-color: black;
}

.home-header {
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.leftside,
.rightside {
    height: 100vh;
    width: 100%;
}

.leftside {
    background-color: black;
}

.rightside {
    background-color: #00ced1;
    position: relative;
}


::placeholder {
    color: #b3b3b3;
}

textarea::-webkit-scrollbar {
    width: 0px;
}

.comp-dbname {
    width: 300px;
    resize: none;
    height: 40px;
    outline: none;
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671ea;
    border: 1px solid #bfbfbf;
}

.result-btn {
    position: absolute;
    bottom: 1rem;
    left: 65%;
    height: 45px;
    transform: translateX(-50%);
    background-color: #0f9ea5;
    font-size: 1.3rem;
    font-weight: 500;
}

.back-btn {
    position: absolute;
    bottom: 1rem;
    left: 5%;
    width: 10%;
    height: 5%;
    transform: translateX(-50%);
    background-color: #0f9ea5;
    font-size: 1.3rem;
    font-weight: 500;
}

.comp-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

.loading {
    position: absolute;
    bottom: 1rem;
    left: 53%;
    /* height: 45px; */
    transform: translateY(-200%);
    /* background-color: #0f9ea5; */
    font-size: 1.3rem;
    font-weight: 500;
}


.headings {
    font-size: 1.3rem;
}

@media screen and (min-width:768px) {

    .leftside,
    .rightside {
        height: 100vh;
    }
}