@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.query-container {
    width: 600px;
    padding: 32px;
    border-radius: 16px;
    background: #00ced1;
    -webkit-box-shadow: 1px 1px 24px -10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 24px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 24px -10px rgba(0, 0, 0, 0.4);
}

.query-header {
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

.query-box {
    margin: 5px 5px;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted black;
    border-radius: 5px;
}

.query-box textarea {
    width: 100%;
        resize: none;
        height: 30px;
        outline: none;
        padding: 5px;
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        max-height: 330px;
        caret-color: #4671ea;
        border: 1px solid #bfbfbf;
}

textarea::placeholder {
    color: #b3b3b3;
}

textarea::-webkit-scrollbar {
    width: 0px;
}
.query-btn{
    text-decoration: none;
    background-color: black;
    height: 40px;
    color: #00ced1;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.comp-dbname {
    width: 100%;
    resize: none;
    height: 30px;
    outline: none;
    padding: 15px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671ea;
    border: 1px solid #bfbfbf;
}

.error{
    color: red;
}