<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>DBJoules</title>
    <link rel="stylesheet" href="../static/comparision.css">
</head>
<body>
    <div class="container-xxl">
        <form method="POST" action="{{ url_for('compare') }}">
            <div class="row no-gutters">
                <div class="col-md-6 no-gutters">
                    <div class="leftside d-flex align-items-center justify-content-center">
                        <div class="comp-card">
                            <header class="home-header" style="color: #00ced1;">
                                <h2>SQL Details</h2>
                            </header>
                            <div class="sql">
                                <div class="comp-box">
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">MySQL Shell Username</h4>
                                    </header>
                                    <input placeholder="Username" class="comp-dbname" spellcheck="false" type="text" name="mysql_username"
                                        id="mysql_username" autocomplete="off" required>
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">MySQL Shell Password</h4>
                                    </header>
                                    <input placeholder="Password" class="comp-dbname" spellcheck="false" type="password" name="mysql_password"
                                        id="mysql_password" autocomplete="off" required>
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">MySQL Database Name</h4>
                                    </header>
                                    <input placeholder="Database Name" class="comp-dbname" spellcheck="false" type="text" name="mysql_db_name"
                                        id="mysql_db_name" autocomplete="off" required>
                                    
                                </div>
                                <div class="comp-wrapper">
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">MySQL Query</h4>
                                    </header>
                                    <textarea spellcheck="false" name="mysql_query" id="mysql_query" placeholder="Enter the Query"
                                        rows="10" cols="50" autocomplete="off" required></textarea>
                                </div>
                                
                                
                                <div class="comp-box">
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">PostgreSQL Shell Username</h4>
                                    </header>
                                    <input placeholder="Username" class="comp-dbname" spellcheck="false" type="text" name="postgresql_username"
                                        id="postgresql_username" autocomplete="off" required>
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">PostgreSQL Shell Password</h4>
                                    </header>
                                    <input placeholder="Password" class="comp-dbname" spellcheck="false" type="password" name="postgresql_password"
                                        id="postgresql_password" autocomplete="off" required>
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">PostgreSQL Database Name</h4>
                                    </header>
                                    <input placeholder="Database Name" class="comp-dbname" spellcheck="false"
                                        type="text" name="postgresql_db_name" id="postgresql_db_name" autocomplete="off" required>
                                    
                                </div>
                                <div class="comp-wrapper">
                                    <header style="color: #00ced1;">
                                        <h4 class="headings">PostgreSQL Query</h4>
                                    </header>
                                    <textarea spellcheck="false" name="postgresql_query" id="postgresql_query" placeholder="Enter the Query" rows="10"
                                        cols="50" autocomplete="off" required></textarea>
                                </div>
                            </div>
                            {% if not_query %}
                            <p class="error">{{ not_query }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 no-gutters">
                    <div class="rightside d-flex align-items-center justify-content-center">
                        <div class="comp-card">
                            <header class="home-header">
                                <h2>NoSQL Details</h2>
                            </header>
                            <div class="no-sql">
                                
                                <div class="comp-box">
                                    <header>
                                        <h4 class="headings">MongoDB Database Name</h4>
                                    </header>
                                    <input placeholder="Database Name" class="comp-dbname" spellcheck="false"
                                        type="text" name="mongodb_db_name" id="mongodb_db_name" autocomplete="off" required>
                                </div>
                                <div class="comp-wrapper">
                                    <header>
                                        <h4 class="headings">MongoDB Query</h4>
                                    </header>
                                    <textarea spellcheck="false" name="mongodb_query" id="mongodb_query" placeholder="Enter the Query" rows="10"
                                        cols="50" autocomplete="off" required></textarea>
                                </div>
                                
                                <div class="comp-box">
                                    <header>
                                        <h4 class="headings">Couchbase Shell Username</h4>
                                    </header>
                                    <input placeholder="Username" class="comp-dbname" spellcheck="false" type="text" name="couchbase_username"
                                        id="couchbase_username" autocomplete="off" required>
                                    <header>
                                        <h4 class="headings">Couchbase Shell Password</h4>
                                    </header>
                                    <input placeholder="Password" class="comp-dbname" spellcheck="false" type="password" name="couchbase_password"
                                        id="couchbase_password" autocomplete="off" required>
                                    <header>
                                        <h4 class="headings">Couchbase Bucket Name</h4>
                                    </header>
                                    <input placeholder="Bucket Name" class="comp-dbname" spellcheck="false" type="text" name="couchbase_bucket_name"
                                        id="couchbase_bucket_name" autocomplete="off" required>
        
                                </div>
                                <div class="comp-wrapper">
                                    <header>
                                        <h4 class="headings">Couchbase Query</h4>
                                    </header>
                                    <textarea spellcheck="false" name="couchbase_query" id="couchbase_query" placeholder="Enter the Query" rows="10"
                                        cols="50" autocomplete="off" required></textarea>
                                </div>
                            </div>
                            {% if not_query %}
                            <p class="error">{{ not_query }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="col-4"></div>
                <div class="col-3">
                    <div id="loading" style="display: none;" class="loading">
                        <h2 style="color: white;" id="loading-text">Loading...</h2>
                    </div>
                    <input id="results-button" class="btn result-btn" type="submit" value="Results">
                </div>
                <div class="col-4"></div>


            </div>
        </form>
        <form method="GET" action="{{ url_for('compare') }}">
            <button class="btn  back-btn" onclick="window.location.href='{{ url_for('choice')}}'">Go back</button>
        </form>
    </div>
    <script>
        document.getElementById('results-button').onclick = function () {
                document.getElementById('loading').style.display = 'block';
            }

            window.onload = function () {
                document.getElementById('loading').style.display = 'none';
            }
    </script>
</body>
</html>