<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBJoules</title>
    <link rel="stylesheet" href="../static/choice.css">
</head>

<body>
    <div class="home-container">
        <header class="home-header">
            <h1>DBJoules</h1>
        </header>
        <div class="home-card">
            <div class="home-box">
                <header class="home-header">
                    <h5>csv file generated successfully</h5>
                </header>
                
                <button class="home-btn" onclick="window.location.href='{{ url_for('index')}}'">Go back</button>
            </div>
        </div>
        
    </div>
</body>

</html>