<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/database_choice_queries.css">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('database_choice_queries') }}" method="post">
            {% for database in databases %}
            <div class="mb-4">
                <div class="text-center">
                    <h2 style="color: #00ced1;">{{ database }}</h2>
                </div>
                <div class="mb-3">
                    <textarea class="form-control mx-auto" style="width: 50%;" name="{{database}}"
                        placeholder="{{ database }} Query"></textarea>
                </div>
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="background-color: #00ced1; color: black;">Submit</button>
            </div>
        </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
 
</body>
</html>