<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DBJoules</title>
	<link rel="stylesheet" href="../static/dbJoules.css">
</head>
<body>
	<div class="home-container">
		<header class="home-header">
			<h1>DBJoules</h1>
		</header>
		<div class="home-card">
			<div class="home-box">
				<form action="{{ url_for('choice') }}">
					<input class="home-btn" type="submit" value="Comparative Analysis">
				</form>
				<form action="{{ url_for('execute_query') }}">
					<input class="home-btn" type="submit" value="Execute Query">
				</form>
			</div>
		</div>
	</div>
</body>
</html>
