<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/existing_database_details.css">
</head>

<body>
    <div class="container">
        <form action="{{ url_for('existing_database_details') }}" method="post">
            {% for database in databases %}
            <!-- <div class="mb-4"></div> -->
            <div class="mb-4">
                <div class="text-center">
                    <h2 style="color: #00ced1;">{{ database }}</h2>
                </div>
                {% if database != 'MongoDB' %}
                <div class="mb-3">
                    <input type="text" class="form-control mx-auto" style="width: 50%;" name="{{ database }}_user"
                        placeholder="{{ database }} User">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control mx-auto" style="width: 50%;" name="{{ database }}_password"
                        placeholder="{{ database }} Password">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control mx-auto" style="width: 50%;" name="{{ database }}_name"
                        placeholder="{{ database }} Name">
                </div>
                {% else %}
                <div class="mb-3">
                    <input type="text" class="form-control mx-auto" style="width: 50%;" name="{{ database }}_name"
                        placeholder="{{ database }} Name">
                </div>
                {% endif %}
                <div class="mb-3">
                    <textarea class="form-control mx-auto" style="width: 50%;" name="{{database}}_query"
                        placeholder="{{ database }} Query"></textarea>
                </div>
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="background-color: #00ced1; color: black;">Submit</button>
            </div>
        </form>
    </div>
    <!-- Include Bootstrap JS (Optional, if needed) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>