<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBJoules</title>
    <link rel="stylesheet" href="../static/existing_database_choice.css">
</head>

<body>
    <div class="query-container">
        <header class="query-header">
            <h1>DBJoules</h1>
        </header>
        <header class="query-header">
            <h4>Select the databases to compare</h4>
        </header>
        <div class="query-card">
            <div class="query-box">
                <form action="{{ url_for('existing_database_databases') }}" method="post">
                    <select id="dbCount" name="dbCount">
                        <option value="" disabled selected>Number of Databases</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <div id="dbOptions"></div>
                    <input class="query-btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
    <button class="query-btn" onclick="window.location.href='{{ url_for('index')}}'">Go back</button>
    </div>
    <script>
        document.getElementById('dbCount').addEventListener('change', function () {
            var count = this.value;
            var dbOptions = document.getElementById('dbOptions');
            dbOptions.innerHTML = '';
            for (var i = 0; i < count; i++) {
                var label = document.createElement('label');
                label.textContent = 'Select a database:';
                dbOptions.appendChild(label);

                var select = document.createElement('select');
                select.name = 'databases';
                select.addEventListener('change', function () {
                    var selects = document.getElementsByName('databases');
                    selects.forEach(function (select) {
                        var options = select.options;
                        for (var j = 0; j < options.length; j++) {
                            options[j].disabled = false;
                        }
                    });
                    selects.forEach(function (select) {
                        if (select.value !== 'Select a database') {
                            selects.forEach(function (otherSelect) {
                                if (otherSelect !== select) {
                                    var options = otherSelect.options;
                                    for (var j = 0; j < options.length; j++) {
                                        if (options[j].value === select.value) {
                                            options[j].disabled = true;
                                        }
                                    }
                                }
                            });
                        }
                    });
                });

                ['Select a database', 'MySQL', 'PostgreSQL', 'MongoDB', 'Couchbase'].forEach(function (db) {
                    var option = document.createElement('option');
                    option.text = db;
                    option.value = db;
                    select.add(option);
                });
                dbOptions.appendChild(select);

                var br = document.createElement('br');
                dbOptions.appendChild(br);
            }
        });
    </script>

</body>

</html>