<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoDB</title>
    <link rel="stylesheet" href="../static/nosql.css">
</head>
<body>
    <div class="no-sql-container">
        <header class="nosql-header">
            <div>
                <p><strong>Your Query  </strong></p>
                <p>{{query}}</p>
            </div>
            <div>
                <p><strong>Detected Database Model </strong></p>
                <p>{{lang}}</p>
            </div>
        </header>
        <div class="container-no-sql">
            <form action="{{ url_for('display1') }}" method="POST">
                <div class="nosql-box">
                    <input type="hidden" name="lang" value="{{ lang }}">
                    <input type="hidden" name="query" value="{{ query }}">
                    <header>
                        <h3>Database Name</h3>
                    </header>
                    <input class="nosql-dbname" spellcheck="false" type="text" name="db_name" class="" id="db_name" autocomplete="off">
                    <input class="nosql-btn" type="submit" value="Results">
                </div>
            </form>
            <button class="nosql-btn" onclick="window.location.href='{{ url_for('execute_query')}}'">Go back</button>
        </div>
    </div>
    
</body>
</html>