<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBJoules</title>
    <link rel="stylesheet" href="../static/primary_key.css">
</head>

<body>
    <div class="home-container">
        <header class="home-header">
            <h1>DBJoules</h1>
        </header>
        <div class="home-card">
            <div class="home-box">
                <form method="POST" action="{{ url_for('prim_key') }}">
                    <div>
                        <label for="primary_key">Primary Key:</label>
                        <select name="primary_key" id="primary_key">
                            {% for item in items %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input class="home-btn  btn-block result-btn" type="submit" value="Submit">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</body>

</html>