<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DBJoules</title>
	<link rel="stylesheet" href="../static/query_home.css">
</head>
<body>
	<div class="query-container">
		<header class="query-header">
			<h2>DBJoules</h2>
		</header>
		<div class="query-card">
			<form method="POST" action="{{ url_for('get_single_query_details') }}">
				<div class="query-box">
					<select name="database_type" id="database_type">
						<option value="" selected disabled>Select a Database</option> <!-- Default option with no value -->
						<option value="mysql">MySQL</option>
						<option value="postgresql">PostgreSQL</option>
						<option value="mongodb">MongoDB</option>
						<option value="couchbase">Couchbase</option>
					</select>
					
					<div id="username_container" style="display: none;">
						<label for="username">Shell Username:</label>
						<input placeholder="Username" class="comp-dbname" spellcheck="false" type="text" name="username"
							id="username" autocomplete="off" >
					</div>
					
					<div id="password_container" style="display: none;">
						<label for="password">Shell Password:</label>
						<input placeholder="Password" class="comp-dbname" spellcheck="false" type="password" name="password" id="password"
							autocomplete="off" >
					</div>
					
					<div id="database_name_container" style="display: none;">
						<label for="database_name">Database / Bucket Name:</label>
						<input placeholder="Database Name" class="comp-dbname" spellcheck="false" type="text" name="database_name" id="database_name"
							autocomplete="off" required>
					</div>
					
					<div id="query_container" style="display: none;">
						<label for="query">Query:</label>
						<textarea spellcheck="false" name="query" id="query" placeholder="Enter the Query" rows="10"
							cols="50" autocomplete="off"></textarea>
					</div>
					<input class="query-btn" type="submit" value="Execute Query">
				</div>
			</form>
			{% if error %}
			<p class="error">{{ error }}</p>
			{% endif %}
		</div>
		<button class="query-btn" onclick="window.location.href='{{ url_for('index')}}'">Go back</button>
	</div>
	<script>
		document.getElementById("database_type").addEventListener("change", function () {
			var selectedOption = this.value;

			// Hide all input containers
			document.getElementById("username_container").style.display = "none";
			document.getElementById("password_container").style.display = "none";
			document.getElementById("database_name_container").style.display = "none";
			document.getElementById("query_container").style.display = "none";

			// Show the relevant input container based on the selected option
			if (selectedOption === "mysql" || selectedOption === "postgresql" || selectedOption === "couchbase") {
				document.getElementById("username_container").style.display = "block";
				document.getElementById("password_container").style.display = "block";
				document.getElementById("database_name_container").style.display = "block";
				document.getElementById("query_container").style.display = "block";
			} else if (selectedOption === "mongodb") {
				document.getElementById("database_name_container").style.display = "block";
				document.getElementById("query_container").style.display = "block";
			}
		});
	</script>
</body>
</html>
